#wp-insertpage-backdrop {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: .7;
	filter: alpha(opacity=70);
	z-index: 100100;
}

#wp-insertpage-wrap {
	display: none;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.3);
	box-shadow: 0 3px 6px rgba(0,0,0,.3);
	width: 500px;
	height: 470px;
	overflow: hidden;
	margin-left: -250px;
	margin-top: -125px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100105;
	-webkit-transition: height .2s,margin-top .2s;
	transition: height .2s,margin-top .2s;
}

#wp-insertpage {
	line-height: 1.4em;
	font-size: 12px;
}

#wp-insertpage ol,
#wp-insertpage ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#wp-insertpage input[type="text"] {
	-webkit-box-sizing: border-box;
}

#wp-insertpage input[type="text"],
#wp-insertpage textarea {
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 12px;
	margin: 1px;
	padding: 3px;
}

#wp-insertpage #insertpage-options {
	padding: 0 0 14px;
	border-bottom: 1px solid #dfdfdf;
	margin: 0 6px 14px;
}
#wp-insertpage #insertpage-internal-toggle {
	display: inline-block;
	cursor: pointer;
	padding-left: 18px;
}
#wp-insertpage .toggle-arrow {
	background: transparent url( '../img/toggle-arrow.png' ) top left no-repeat;
	height: 23px;
	line-height: 23px;
}
#wp-insertpage .toggle-arrow-active {
	background-position: center left;
}
#wp-insertpage label input[type="text"] {
	width: 360px;
	margin-top: 5px;
}
#wp-insertpage label span {
	display: inline-block;
	width: 80px;
	text-align: right;
	padding-right: 5px;
}
#wp-insertpage-wrap.search-panel-visible #insertpage-search-panel {
	display: block;
}
#wp-insertpage .insertpage-search-wrapper {
	margin: 5px 0 9px;
	display: block;
	overflow: hidden;
}
#wp-insertpage .insertpage-search-wrapper span {
	float: left;
	margin-top: 4px;
}
#wp-insertpage .insertpage-search-wrapper input[type="text"] {
	float: left;
	width: 320px;
}
#wp-insertpage .insertpage-search-wrapper .spinner {
	display: none;
	vertical-align: text-bottom;
}
#wp-insertpage #insertpage-search-panel label span.search-label {
	display: inline-block;
	width: 120px;
	text-align: right;
	padding-right: 5px;
	max-width: 24%;
}
#wp-insertpage .insertpage-search-field {
	float: left;
	width: 250px;
	max-width: 70%;
}
#wp-insertpage .insertpage-format {
	width: auto;
	padding: 10px 0 0;
	margin: 0 0 0 40px;
}
#wp-insertpage .query-results {
	border: 1px #dfdfdf solid;
	margin: 0 5px 5px;
	background: #fff;
	height: 185px;
	overflow: auto;
	position: relative;
}
#wp-insertpage li,
#wp-insertpage .query-notice {
	clear: both;
	margin-bottom: 0;
	border-bottom: 1px solid #f1f1f1;
	color: #333;
	padding: 4px 6px;
	cursor: pointer;
	position: relative;
}
#wp-insertpage li:hover {
	background: #eaf2fa;
	color: #151515;
}
#wp-insertpage li.unselectable {
	border-bottom: 1px solid #dfdfdf;
}
#wp-insertpage li.unselectable:hover {
	background: #fff;
	cursor: auto;
	color: #333;
}
#wp-insertpage li.selected {
	background: #ddd;
	color: #333;
}
#wp-insertpage li.selected .item-title {
	font-weight: bold;
}
#wp-insertpage .item-title {
	display: inline-block;
	width: 80%;
}
#wp-insertpage .item-info {
	text-transform: uppercase;
	color: #666;
	font-size: 11px;
	position: absolute;
	right: 12px;
	top: 4px;
	bottom: 0;
}
#wp-insertpage #insertpage-search-results {
	display: none;
}
#wp-insertpage  #insertpage-search-panel {
	float: left;
	width: 100%;
}
#wp-insertpage .river-waiting {
	display: none;
	padding: 10px 0;
}
#wp-insertpage .river-waiting .spinner {
	margin: 0 auto;
	display: block;
	float: none;
}
#wp-insertpage .submitbox {
	padding: 5px 10px;
	font-size: 11px;
	overflow: auto;
	height: 29px;
}
#wp-insertpage-cancel {
	line-height: 25px;
	float: left;
}
#wp-insertpage-update {
	line-height: 23px;
	float: right;
}